# Copy this file to .env.local and fill in your values
NEXT_PUBLIC_SITE_URL=http://localhost:3000
BBNL_API_BASE_URL=http://localhost:8000

GOOGLE_PLACE_ID=
GOOGLE_PLACES_API_KEY=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

MOLLIE_API_KEY=test_sHzNr73brBDp6VfMChSTqbvuBGFNMx

ELASTIC_HOST=http://localhost:9200
SCOUT_PREFIX=business_labels_